<header id="header" class="plain-header fixed-top before" *ngIf="scrollTop">
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/images/logos/compact_logo_light.svg" class="default light" alt="Listigo">
            </a>
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="javascript:void(0);" data-toggle="modal" data-target="#sign_in">Login</a>
                </li>
                <li class="nav-item"><a routerLink="/listing-show" class="btn btn-pill btn-danger btn-icon"><i
                            class="ion-md-add"></i> <span>Add Listing</span></a></li>
            </ul><a href="javascript:void(0);" id="hamburger"><span></span></a>
        </div>
    </nav>
</header>

<header class="header plain-header fixed-top after" id="headerAfterScroll" *ngIf="scrollSticky">
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/images/logos/compact_logo_dark.svg" class="compact dark" alt="Listigo">
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#sign_in">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/listing-show" class="btn btn-pill btn-danger btn-icon">                <i class="ion-md-add"></i> <span>Add Listing</span></a>
                </li>
            </ul>
            <a href="javascript:void(0);" id="hamburger" ><span></span></a>
        </div>
    </nav>

</header>

<header class="header-phone">
    <div class="row">
        <div class="col-auto px-0">
            <a routerLink="/">
                <button class="menu-btn btn btn-link-default" type="button">
                    <img src="assets/images/logos/compact_logo_dark.svg" alt="" class="icon-size-24">
                </button>
            </a>
        </div>
        <div class="text-left col">
            <a class="btn btn-pill btn-danger btn-icon" routerLink="/">
                Eclyt           
            </a>
            
        </div>
        <div class="ml-auto col-auto">
            <!-- <a href="profile.html" class="icon icon-44 shadow-sm">
                <figure class="m-0 background">
                    <img src="img/user-1.jpg" alt="">
                </figure>
            </a> -->
        </div>
    </div>
</header>
<div class="modal fade" id="sign_in" role="dialog" aria-hidden="true">
    <div class="modal-dialog auth-modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-block px-4 px-sm-5 pt-5"><a href="javascript:void(0);" class="close d-sm-none"
                    data-dismiss="modal">&times;</a>
                <h4 class="font-weight-bold mb-2">Sign In</h4>
                <p>Applying Data Science & Advanced Analytics To Life, Where Power Meets Purpose.!</p>
            </div>
            <ul class="nav nav-tabs line-tabs mt-6" id="sign" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active" id="login-tab" data-toggle="tab"
                        href="#login" role="tab" aria-controls="login" aria-selected="true">Sign In</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" id="register-tab" data-toggle="tab"
                        href="#register" role="tab" aria-controls="register" aria-selected="false">Sign Up</a></li>
            </ul>
            <div class="modal-body px-4 px-sm-5 pt-4">
                <div class="tab-content" id="signContent">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <form action="#" class="pb-5">
                            <div class="form-group"><label for="username1" class="form-control-label">Username</label>
                                <input id="username1" type="text" name="username1" placeholder="Enter username"
                                    class="form-control" required>
                            </div>
                            <div class="form-group"><label for="password1" class="form-control-label">Password</label>
                                <div class="form-control-icon form-control-icon_right"><input id="password1"
                                        type="password" name="password1" placeholder="Enter password"
                                        class="form-control" required> <button type="button"
                                        class="form-control-icon_wrapper icon-eye"><span><i
                                                class="eye-open ion-md-eye"></i> <i
                                                class="eye-close ion-md-eye-off d-none"></i></span></button></div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="checkbox"><input id="remember" type="checkbox"> <label
                                        for="remember">Remember me</label></div><a href="#" class="link"
                                    data-dismiss="modal" data-toggle="modal" data-target="#forgot">Forgot
                                    Password?</a>
                            </div><button type="submit" class="btn btn-danger btn-block">Sign in</button>
                            <div class="auth-modal-foot mt-4">
                                <div class="mb-4 text-center">Or via Social</div>
                                <div class="auth-modal-foot--btn"><a href="#" class="btn btn-icon btn-facebook"><i
                                            class="ion-logo-facebook"></i> <span>Facebook</span> </a><a href="#"
                                        class="btn btn-icon btn-twitter"><i class="ion-logo-twitter"></i>
                                        <span>Twitter</span></a></div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <form action="#" class="pb-5">
                            <div class="form-group"><label for="username2" class="form-control-label">Username</label>
                                <input id="username2" type="text" name="username2" placeholder="Enter email/phone"
                                    class="form-control" required>
                            </div>
                            <div class="form-group"><label for="password2" class="form-control-label">Password</label>
                                <div class="form-control-icon form-control-icon_right"><input id="password2"
                                        type="password" name="password2" placeholder="Enter password"
                                        class="form-control" required> <button type="button"
                                        class="form-control-icon_wrapper icon-eye"><span><i
                                                class="eye-open ion-md-eye"></i> <i
                                                class="eye-close ion-md-eye-off d-none"></i></span></button></div>
                            </div>
                            <div class="form-group"><label for="password2" class="form-control-label">Confirm
                                    Password</label>
                                <div class="form-control-icon form-control-icon_right"><input id="password3"
                                        type="password" name="password3" placeholder="Re-type password"
                                        class="form-control" required> <button type="button"
                                        class="form-control-icon_wrapper icon-eye"><span><i
                                                class="eye-open ion-md-eye"></i> <i
                                                class="eye-close ion-md-eye-off d-none"></i></span></button></div>
                            </div><button type="submit" class="btn btn-danger btn-block mt-4">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="forgot" role="dialog" aria-hidden="true">
    <div class="modal-dialog auth-modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-block px-4 px-sm-5 pt-5"><a href="javascript:void(0);" class="close d-sm-none"
                    data-dismiss="modal">&times;</a>
                <h4 class="font-weight-bold mb-2">Forgot password</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequuntur deserunt
                    dolore!</p>
            </div>
            <div class="modal-body px-4 px-sm-5 pt-4">
                <form action="#" class="pb-5">
                    <div class="form-group"><label for="username3" class="form-control-label">Username</label>
                        <input id="username3" type="text" name="username3" placeholder="Enter email/phone"
                            class="form-control" required>
                    </div><button type="submit" class="btn btn-danger btn-block mt-4">Send OTP</button>
                </form>
            </div>
        </div>
    </div>
</div>