<app-header></app-header>

<!----------------------------Home Page Design ------------------------->

<div id="wrapper">
    <!-- <div id="grad1"></div> -->

    <!-- <section class="intro_phone_section">
        <section class="hm-slider mobile-open">
            <div class="container">            
                <owl-carousel-o [options]="customOptions1" class="slidehome">
                    <ng-template carouselSlide>
                        <div class="bg-hm" style="background-image: url('assets/images/listing/band.jpg');">
                            <div class="card-hm"> 
                            
                                <p>                                 
                                    Improved understanding: Analysis allows for a deeper understanding of complex systems and
                                    concepts by breaking them down into smaller, more manageable parts.In finance, analysis
                                    is used to evaluate investment opportunities and assess the performance of investment
                                    portfolios.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="bg-hm" style="background-image: url('assets/images/listing/e12.png');">
                            <div class="card-hm">
                          
            
                                <p>Surveys can be used to gather a wide range of information, including demographics,
                                    opinions, behaviors, and experiences, making them a versatile tool for research and data
                                    collection.Great for Gathering Qualitative Feedback. Perfect for Collecting Emotional
                                    Feedback.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="bg-hm" style="background-image: url('assets/images/listing/e13.png');">
                            <div class="card-hm">
                        
            
                                <p>Observation allows for the collection of detailed, rich data, including both quantitative
                                    and qualitative information.Observation allows for the collection of detailed, rich
                                    data, including both quantitative and qualitative information.Observational studies
                                    include case reports and case series, ecological studies.</p>
                            </div>
                        </div>
                    </ng-template>
                   
                </owl-carousel-o>
            </div>
        </section>
        
    </section> -->
    <section id="intro_section" class="banner-overlay hero-banner">
        <!-- <video autoplay muted loop>
            <source src="../../../assets/vid/eclyt-v1.mp4" />
        </video> -->
        <div class="banner banner-scroll" data-parallax="scroll"
            style="background-image:url('assets/images/backgrounds/alis_depth_circle_title.png')"></div>
        <div class="banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-11 mx-auto">
                        <!-- <h1 class="intro-section-title wow fade-in-down">Applying Data Science & Advanced Analytics To Life, Where Power Meets Purpose. 
                        </h1> -->

                        <!-- <div class="search-wrapper wow fade-in-up">
                            <div class="search-form">
                                <div class="search-input"><label for="what"
                                        class="form-control-label mb-0">What</label>
                                    <div class="input-group align-items-center dropdown"><input type="text"
                                            id="what" class="form-control" autocomplete="off"
                                            placeholder="Ex: Food, Fitness, Service" data-toggle="dropdown"> <a
                                            href="javascript:void(0);" class="input-group-append"
                                            data-toggle="dropdown"><i class="ion-ios-arrow-down"></i></a>
                                        <div class="dropdown-menu" data-scrollable="true" data-height="200"><a
                                                href="javascript:void(0);" class="dropdown-item">Events and live
                                                performance</a> <a href="javascript:void(0);"
                                                class="dropdown-item">Fitness & GYM</a> <a
                                                href="javascript:void(0);" class="dropdown-item">Foods and street
                                                wander</a> <a href="javascript:void(0);"
                                                class="dropdown-item">Hotels, motels and restaurants</a> <a
                                                href="javascript:void(0);" class="dropdown-item">Medicals services
                                                and hospitals</a> <a href="javascript:void(0);"
                                                class="dropdown-item">Nightlife & clubs</a> <a
                                                href="javascript:void(0);" class="dropdown-item">Services</a> <a
                                                href="javascript:void(0);" class="dropdown-item">Shopping</a></div>
                                    </div>
                                </div>
                                <div class="search-input"><label for="where"
                                        class="form-control-label mb-0">Where</label>
                                    <div class="input-group align-items-center dropdown"><input type="text"
                                            id="where" class="form-control" autocomplete="off"
                                            placeholder="Australia, Sydney" data-toggle="dropdown"> <a
                                            href="javascript:void(0);" class="input-group-append"
                                            data-toggle="dropdown"><i class="ion-ios-arrow-down"></i></a>
                                        <div class="dropdown-menu" data-scrollable="true" data-height="200"><a
                                                href="javascript:void(0);" class="dropdown-item">Australia, <span
                                                    class="text-muted">Sydney</span></a> <a
                                                href="javascript:void(0);" class="dropdown-item">France, <span
                                                    class="text-muted">Paris</span></a> <a
                                                href="javascript:void(0);" class="dropdown-item">Japan, <span
                                                    class="text-muted">Tokyo</span></a> <a
                                                href="javascript:void(0);" class="dropdown-item">Netherlands, <span
                                                    class="text-muted">Amsterdam</span></a> <a
                                                href="javascript:void(0);" class="dropdown-item">United Kingdom,
                                                <span class="text-muted">London</span></a> <a
                                                href="javascript:void(0);" class="dropdown-item">United State
                                                America, <span class="text-muted">New Yourk</span></a></div>
                                    </div>
                                </div><button type="button" class="btn btn-danger">Search</button>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="work_steps" class="row">
                <div class="col-lg-4 wow fade-in-up">
                    <div class="work-step blur-div">
                        <div class="work-step--number">1</div>
                        <div class="work-step--content">
                            <h4 class="mt-1 mb-3">Analysis</h4>

                            <p>Improved understanding: Analysis allows for a deeper understanding of complex systems and
                                concepts by breaking them down into smaller, more manageable parts.In finance, analysis
                                is used to evaluate investment opportunities and assess the performance of investment
                                portfolios.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fade-in-up" data-wow-delay=".3s">
                    <div class="work-step">
                        <div class="work-step--number">2</div>
                        <div class="work-step--content blur-div ">
                            <h4 class="mt-1 mb-3">Survey</h4>
                            <p>Surveys can be used to gather a wide range of information, including demographics,
                                opinions, behaviors, and experiences, making them a versatile tool for research and data
                                collection.Great for Gathering Qualitative Feedback. Perfect for Collecting Emotional
                                Feedback.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fade-in-up" data-wow-delay=".6s">
                    <div class="work-step">
                        <div class="work-step--number">3</div>
                        <div class="work-step--content blur-div ">
                            <h4 class="mt-1 mb-3">Observation</h4>
                            <p>Observation allows for the collection of detailed, rich data, including both quantitative
                                and qualitative information.Observation allows for the collection of detailed, rich
                                data, including both quantitative and qualitative information.Observational studies
                                include case reports and case series, ecological studies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-11">
                    <h2 class="section-title wow"><span>See Eclyt In Action</span></h2>
                </div>
            </div>
            <div id="categories">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="item wow fade-in-up">
                            <div class="category-card hover-card"><a href="grid-sidebar.html"><img
                                        src="assets/images/categories/e1.png" class="retina" alt="">
                                    <div class="category-title">
                                        <h6>Data Analysis</h6>
                                    </div>
                                </a></div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item wow fade-in-up" data-wow-delay=".4s">
                            <div class="category-card hover-card"><a href="grid-sidebar.html"><img
                                        src="assets/images/categories/e2.png" class="retina" alt="">
                                    <div class="category-title">
                                        <h6>Data Visualization</h6>
                                    </div>
                                </a></div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item wow fade-in-up" data-wow-delay=".6s">
                            <div class="category-card hover-card"><a href="grid-sidebar.html"><img
                                        src="assets/images/categories/e3.png" class="retina" alt="">
                                    <div class="category-title">
                                        <h6>Data Management </h6>
                                    </div>
                                </a></div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item wow fade-in-up" data-wow-delay=".8s">
                            <div class="category-card hover-card"><a href="grid-sidebar.html"><img
                                        src="assets/images/categories/e4.png" class="retina" alt="">
                                    <div class="category-title">
                                        <h6>Data Mining</h6>
                                    </div>
                                </a></div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item wow fade-in-up" data-wow-delay=".2s">
                            <div class="category-card hover-card"><a href="grid-sidebar.html"><img
                                        src="assets/images/categories/e9.png" class="retina" alt="">
                                    <div class="category-title">
                                        <h6>Business Intelligence</h6>
                                    </div>
                                </a></div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="item wow fade-in-up" data-wow-delay="1s">
                            <div class="category-card hover-card"><a href="grid-sidebar.html"><img
                                        src="assets/images/categories/e6.png" class="retina" alt="">
                                    <div class="category-title">
                                        <h6>Workload Automation/Health Care</h6>
                                    </div>
                                </a></div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item wow fade-in-up" data-wow-delay="1.2s">
                            <div class="category-card hover-card"><a href="grid-sidebar.html"><img
                                        src="assets/images/categories/e7.png" class="retina" alt="">
                                    <div class="category-title">
                                        <h6>ChatBots Creation</h6>
                                    </div>
                                </a></div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item wow fade-in-up" data-wow-delay="1.4s">
                            <div class="category-card hover-card"><a href="grid-sidebar.html"><img
                                        src="assets/images/categories/e8.png" class="retina" alt="">
                                    <div class="category-title">
                                        <h6>Statistical Modeling</h6>
                                    </div>
                                </a></div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">

            <div class="listing-header">
                <span class="result-text">80 Results found</span>
                <ul class="listing-options">
                    <li class="listing-options-item">
                        <a href="list-full-width.html"><i class="ion-md-list"></i></a>
                    </li>
                    <li class="listing-options-item">
                        <a href="grid-full-width.html" class="active"><i class="ion-md-grid"></i></a>
                    </li>
                    <li class="listing-options-item">
                        <select name="filter" id="filter" class="custom-select">
                            <option value="0">Popularity</option>
                            <option value="1">High Rated</option>
                            <option value="2">Most Reviewed</option>
                            <option value="3">Newest Listing</option>
                            <option value="4">Oldest Listing</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="row list-bunch">
                <div class="col-lg-3 col-md-6 list-bunch-item">
                    <div class="listing-card">
                        <div class="listing-image">
                            <div class="listing-image-head">
                                <span class="listing-tag">Close now</span>
                                <button type="button" class="ml-auto btn btn-danger btn-only-icon btn-pill">
                                    <i class="ion-md-heart-empty"></i>
                                </button>
                            </div>
                            <a href="list-details.html"><img src="assets/images/listing/e11.png" class="retina"
                                    alt="" /></a>
                        </div>
                        <div class="listing-content">
                            <div class="listing-content-body">
                                <div class="listing-content-head mb-3">
                                    <div class="listing-rating">
                                        <span class="listing-rating-number">4.5</span>
                                        <i class="ion-md-star"></i>
                                    </div>
                                    <div class="listing-desc">
                                        <a href="list-details.html" class="listing-title text-truncate">User
                                            Analysis</a>
                                        <p>
                                            Demographics, preferences, and usage patterns.
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    Studying and understanding the behavior and characteristics of users of a particular
                                    product or service.
                                </p>
                            </div>
                            <div class="media align-items-center mt-3">
                                <div class="avatar avatar-sm">
                                    <img src="assets/images/user/32/user-1.jpg" class="retina" alt="" />
                                </div>
                                <div class="media-body pl-2">
                                    <span class="avatar-name">Generate by
                                        <a href="#" class="text-danger">E1 Tilda</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 list-bunch-item">
                    <div class="listing-card">
                        <div class="listing-image">
                            <div class="listing-image-head">
                                <span class="listing-tag">Close now</span>
                                <button type="button" class="ml-auto btn btn-danger btn-only-icon btn-pill">
                                    <i class="ion-md-heart-empty"></i>
                                </button>
                            </div>
                            <a href="list-details.html"><img src="assets/images/listing/e12.png" class="retina"
                                    alt="" /></a>
                        </div>
                        <div class="listing-content">
                            <div class="listing-content-body">
                                <div class="listing-content-head mb-3">
                                    <div class="listing-rating">
                                        <span class="listing-rating-number">4.5</span>
                                        <i class="ion-md-star"></i>
                                    </div>
                                    <div class="listing-desc">
                                        <a href="list-details.html" class="listing-title text-truncate">Predictive
                                            Analytics</a>
                                        Demographics, preferences, and usage patterns.
                                    </div>
                                </div>
                                <p>
                                    Uses statistical techniques and models to analyze historical data and make
                                    predictions about future events or outcomes.
                                </p>
                            </div>
                            <div class="media align-items-center mt-3">
                                <div class="avatar avatar-sm">
                                    <img src="assets/images/user/32/user-3.jpg" class="retina" alt="" />
                                </div>
                                <div class="media-body pl-2">
                                    <span class="avatar-name">Generate by
                                        <a href="#" class="text-danger">E2 Tilda</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 list-bunch-item">
                    <div class="listing-card">
                        <div class="listing-image">
                            <div class="listing-image-head">
                                <button type="button" class="ml-auto btn btn-danger btn-only-icon btn-pill">
                                    <i class="ion-md-heart-empty"></i>
                                </button>
                            </div>
                            <a href="list-details.html"><img src="assets/images/listing/e13.png" class="retina"
                                    alt="" /></a>
                        </div>
                        <div class="listing-content">
                            <div class="listing-content-body">
                                <div class="listing-content-head mb-3">
                                    <div class="listing-rating">
                                        <span class="listing-rating-number">3.5</span>
                                        <i class="ion-md-star"></i>
                                    </div>
                                    <div class="listing-desc">
                                        <a href="list-details.html" class="listing-title text-truncate">Analytics In
                                            Manufacturing </a>
                                        <p>
                                            Demographics, preferences, and usage patterns.
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    Data analytics tools and techniques to optimize manufacturing processes and improve
                                    performance..
                                </p>
                            </div>
                            <div class="media align-items-center mt-3">
                                <div class="avatar avatar-sm">
                                    <img src="assets/images/user/32/user-2.jpg" class="retina" alt="" />
                                </div>
                                <div class="media-body pl-2">
                                    <span class="avatar-name">Generate by
                                        <a href="#" class="text-danger">E3 Tilda</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 list-bunch-item">
                    <div class="listing-card">
                        <div class="listing-image">
                            <div class="listing-image-head">
                                <span class="listing-tag">Open now</span>
                                <button type="button" class="ml-auto btn btn-danger btn-only-icon btn-pill">
                                    <i class="ion-md-heart-empty"></i>
                                </button>
                            </div>
                            <a href="list-details.html"><img src="assets/images/listing/e14.png" class="retina"
                                    alt="" /></a>
                        </div>
                        <div class="listing-content">
                            <div class="listing-content-body">
                                <div class="listing-content-head mb-3">
                                    <div class="listing-rating">
                                        <span class="listing-rating-number">4</span>
                                        <i class="ion-md-star"></i>
                                    </div>
                                    <div class="listing-desc">
                                        <a href="list-details.html" class="listing-title text-truncate">Big Data
                                            Service</a>
                                        <p>
                                            Demographics, preferences, and usage patterns.
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    Suppliers, inventory, and demand, manufacturers can optimize their supply chain to
                                    improve efficiency and reduce costs.
                                </p>
                            </div>
                            <div class="media align-items-center mt-3">
                                <div class="avatar avatar-sm">
                                    <img src="assets/images/user/32/user-4.jpg" class="retina" alt="" />
                                </div>
                                <div class="media-body pl-2">
                                    <span class="avatar-name">Generate by
                                        <a href="#" class="text-danger">E4 Tilda</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 list-bunch-item">
                <div class="listing-card">
                    <div class="listing-image">
                        <div class="listing-image-head">
                            <span class="listing-tag">Open now</span>
                            <button type="button" class="ml-auto btn btn-danger btn-only-icon btn-pill">
                                <i class="ion-md-heart-empty"></i>
                            </button>
                        </div>
                        <a href="list-details.html"><img src="assets/images/listing/e15.png" class="retina"
                                alt="" /></a>
                    </div>
                    <div class="listing-content">
                        <div class="listing-content-body">
                            <div class="listing-content-head mb-3">
                                <div class="listing-rating">
                                    <span class="listing-rating-number">4.4</span>
                                    <i class="ion-md-star"></i>
                                </div>
                                <div class="listing-desc">
                                    <a href="list-details.html" class="listing-title text-truncate">Continental
                                        Hotel</a>
                                    <p>4804 Rafe Lane,<br />Benoit, Mississippi - 38725</p>
                                </div>
                            </div>
                            <p>
                                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
                                lorem. Maecenas nec odio et.
                            </p>
                        </div>
                        <div class="media align-items-center mt-3">
                            <div class="avatar avatar-sm">
                                <img src="assets/images/user/32/user-5.jpg" class="retina" alt="" />
                            </div>
                            <div class="media-body pl-2">
                                <span class="avatar-name">Generate by 
                                    <a href="#" class="text-danger">E5 Tilda</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 list-bunch-item">
                <div class="listing-card">
                    <div class="listing-image">
                        <div class="listing-image-head">
                            <span class="listing-tag">Open now</span>
                            <button type="button" class="ml-auto btn btn-danger btn-only-icon btn-pill">
                                <i class="ion-md-heart-empty"></i>
                            </button>
                        </div>
                        <a href="list-details.html"><img src="assets/images/listing/e16.png"
                                class="retina" alt="" /></a>
                    </div>
                    <div class="listing-content">
                        <div class="listing-content-body">
                            <div class="listing-content-head mb-3">
                                <div class="listing-rating">
                                    <span class="listing-rating-number">4</span>
                                    <i class="ion-md-star"></i>
                                </div>
                                <div class="listing-desc">
                                    <a href="list-details.html" class="listing-title text-truncate">Perfection
                                        Restaurant</a>
                                    <p>
                                        3827 Shearwood Forest Drive,<br />Salem, New Hampshire
                                        - 03079
                                    </p>
                                </div>
                            </div>
                            <p>
                                Donec vitae sapien ut libero venenatis faucibus. Nullam
                                quis ante.
                            </p>
                        </div>
                        <div class="media align-items-center mt-3">
                            <div class="avatar avatar-sm">
                                <img src="assets/images/user/32/user-2.jpg" class="retina" alt="" />
                            </div>
                            <div class="media-body pl-2">
                                <span class="avatar-name">Generate by 
                                    <a href="#" class="text-danger">E6 Tilda</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            </div>
        </div>
    </section>
    <!-- <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-11">
                    <h2 class="section-title wow"><span>Most searched destinations by visitors</span></h2>
                </div>
            </div>
            <div class="row list-bunch image-grid">
                <div class="col-xl-3 col-md-4 col-sm-6 list-bunch-item image-grid-item wow fade-in-up">
                    <div class="dest-card hover-card"><a href="grid-full-width.html">
                            <div class="dest-title">United Kingdom</div><img src="assets/images/destination/london.jpg"
                                class="retina" alt="">
                            <div class="dest-content">
                                <h6>London</h6>
                                <p>20 Places</p>
                            </div>
                        </a></div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 list-bunch-item image-grid-item wow fade-in-up">
                    <div class="dest-card hover-card"><a href="grid-full-width.html">
                            <div class="dest-title">France</div><img
                                src="https://img.gadgethacks.com/img/04/76/63778320626701/0/8-ways-take-screenshot-your-iphone-13-13-mini-13-pro-13-pro-max.w1456.jpg"
                                class="retina" alt="">
                            <div class="dest-content">
                                <h6>Paris</h6>
                                <p>12 Places</p>
                            </div>
                        </a></div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 list-bunch-item image-grid-item wow fade-in-up">
                    <div class="dest-card hover-card"><a href="grid-full-width.html">
                            <div class="dest-title">Australia</div><img src="assets/images/destination/sydney.jpg"
                                class="retina" alt="">
                            <div class="dest-content">
                                <h6>Sydney</h6>
                                <p>16 Places</p>
                            </div>
                        </a></div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 list-bunch-item image-grid-item wow fade-in-up">
                    <div class="dest-card hover-card"><a href="grid-full-width.html">
                            <div class="dest-title">Spain</div><img src="assets/images/destination/barcelona.jpg"
                                class="retina" alt="">
                            <div class="dest-content">
                                <h6>Barcelona</h6>
                                <p>08 Places</p>
                            </div>
                        </a></div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 list-bunch-item image-grid-item wow fade-in-up">
                    <div class="dest-card hover-card"><a href="grid-full-width.html">
                            <div class="dest-title">United State of America</div><img
                                src="assets/images/destination/new-yourk.jpg" class="retina" alt="">
                            <div class="dest-content">
                                <h6>New Yourk</h6>
                                <p>19 Places</p>
                            </div>
                        </a></div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 list-bunch-item image-grid-item wow fade-in-up">
                    <div class="dest-card hover-card"><a href="grid-full-width.html">
                            <div class="dest-title">Netherlands</div><img src="assets/images/destination/amsterdam.jpg"
                                class="retina" alt="">
                            <div class="dest-content">
                                <h6>Amsterdam</h6>
                                <p>10 Places</p>
                            </div>
                        </a></div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 list-bunch-item image-grid-item wow fade-in-up">
                    <div class="dest-card hover-card"><a href="grid-full-width.html">
                            <div class="dest-title">Japan</div><img src="assets/images/destination/tokyo.jpg"
                                class="retina" alt="">
                            <div class="dest-content">
                                <h6>Tokyo</h6>
                                <p>11 Places</p>
                            </div>
                        </a></div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 list-bunch-item image-grid-item wow fade-in-up">
                    <div class="dest-card hover-card"><a href="grid-full-width.html">
                            <div class="dest-title">Italy</div><img src="assets/images/destination/rome.jpg"
                                class="retina" alt="">
                            <div class="dest-content">
                                <h6>Rome</h6>
                                <p>10 Places</p>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-11">
                    <h2 class="section-title wow"><span>Our valuable tips and articles</span></h2>
                </div>
            </div>
            <div class="row list-bunch">
                <div class="col-md-3 list-bunch-item wow fade-in-up">
                    <div class="blog-card">
                        <div class="hover-card mb-4">
                            <a routerLink="/world-time-zone"><img src="assets/images/blog/thumb/h1.png" class="retina"
                                    alt="">
                            </a>
                        </div>
                        <p class="tags mb-2"> <a routerLink="/world-time-zone">Observation</a></p>
                        <h5 class="blog-title mb-3"><a routerLink="/world-time-zone"> "World Time Zone" synchronize time
                                across the entire globe.</a></h5>
                        <p><span class="text-muted">Feb 11, 2023 By </span><a routerLink="/world-time-zone">Admin</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 list-bunch-item wow fade-in-up" data-wow-delay=".3s">
                    <div class="blog-card">
                        <div class="hover-card mb-4"><a routerLink="/map-globe-rotating"><img
                                    src="assets/images/blog/thumb/h2.png" class="retina" alt=""></a></div>
                        <p class="tags mb-2"> <a href="#">Observation</a></p>
                        <h5 class="blog-title mb-3"><a routerLink="/map-globe-rotating">12 months rolling
                                measles\nincidence per 1'000'000 total population.</a></h5>
                        <p><span class="text-muted">Feb 11, 2023 By </span><a href="/map-globe-rotating">Admin</a></p>
                    </div>
                </div>
                <div class="col-md-3 list-bunch-item wow fade-in-up" data-wow-delay=".6s">
                    <div class="blog-card">
                        <div class="hover-card mb-4"><a routerLink="/map-globe-grouped"><img
                                    src="assets/images/blog/thumb/h3.png" class="retina" alt=""></a></div>
                        <p class="tags mb-2"><a href="">Observation</a></p>
                        <h5 class="blog-title mb-3"><a routerLink="/map-globe-grouped">EU joined cut-off in 2021, the
                                European Union (EU) had 27 member states:.</a></h5>
                        <p><span class="text-muted">Feb 11, 2023 By </span><a routerLink="/map-globe-grouped">Admin</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 list-bunch-item wow fade-in-up" data-wow-delay=".6s">
                    <div class="blog-card">
                        <div class="hover-card mb-4"><a routerLink="/map-globe-pulsating-bullets"><img
                                    src="assets/images/blog/thumb/h4.png" class="retina" alt=""></a></div>
                        <p class="tags mb-2"><a href="#">Observation</a></p>
                        <h5 class="blog-title mb-3"><a routerLink="/map-globe-pulsating-bullets">European-Mediterranean
                                Seismological Centre (EMSC) for information on recent earthquakes.</a></h5>
                        <p><span class="text-muted">Feb 11, 2023 By </span><a href="#">Admin</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="app-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h2 class="wow fade-in-up">Our app available on</h2>
                        <p class="wow fade-in-up" data-wow-delay=".2s">We are on mobile now get this app and enjoy
                            amazing user experience. Download the app and go to Observation new places in the world.</p>
                        <div class="btn-inline wow fade-in-up" data-wow-delay=".4s"><button type="button"
                                class="btn btn-dark btn-icon"><i class="ion-logo-apple"></i> <span>Add
                                    Store</span></button> <button type="button" class="btn btn-dark btn-icon"><i
                                    class="ion-logo-android"></i> <span>Google Play</span></button></div>
                    </div>
                    <div class="col-lg-7"><img src="assets/images/backgrounds/app-hero.png"
                            class="app-hero mt-5 mt-lg-0" alt=""></div>
                </div>
            </div>
        </div>
    </section>



</div>


<app-footer></app-footer>