<footer id="footer">
    <div class="container">
        <div class="row list-bunch">
            <div class="col-xl-4 col-lg-5 list-bunch-item">
                <a href="index.html" class="d-inline-block mb-3"><img src="assets/images/logos/favicon.png"
                        alt="" /></a>
                <p>
                    An eye of universe.
                    It is seen in all directions, as if the universe is "looking back" at us.
                </p>
                <div class="form-control-icon form-control-icon_right">
                    <input type="text" placeholder="Email please" class="form-control" />
                    <button type="button" class="form-control-icon_wrapper">
                        <span><i class="ion-md-arrow-forward"></i></span>
                    </button>
                </div>
            </div>
            <div class="col-1 d-xl-block d-none"></div>
            <div class="col-lg-2 col-sm-4 list-bunch-item">
                <h6 class="mb-3">Company</h6>
                <ul class="links">
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a routerLink="/privacy">Privacy Policy</a></li>
                    <li><a routerLink="/terms">Terms & Use</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-4 list-bunch-item">
                <h6 class="mb-3">Quick links</h6>
                <ul class="links">
                    <li><a routerLink="faq">FAQs</a></li>
                    <!-- <li><a href="#">Pricing</a></li>
                    <li><a href="#">Wallet</a></li>
                    <li><a href="#">Profile</a></li> -->
                </ul>
            </div>
            <div class="col-lg-3 col-sm-4 list-bunch-item">
                <h6 class="mb-1">Contact via email</h6>
                <a class="d-inline-block mb-3" href="mailto:query@eclyt.com">query@eclyt.com</a>
                <h6 class="mb-1">Support 24x7</h6>
                <a class="d-inline-block mb-3" href="tel:+917992215707">+91-7992215707</a>
                <ul class="social">
                    <!-- <li>
                        <a href="#"><i class="ion-logo-facebook"></i></a>
                    </li> -->
                    <li>
                        <a href="#"><i class="ion-logo-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-logo-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-logo-instagram"></i></a>
                    </li>
                    <!-- <li>
                        <a href="#"><i class="ion-logo-vimeo"></i></a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="last-footer text-muted">
            &copy; 2023 Eclyt. All rights reserved.
        </div>
    </div>
</footer>
<a href="#intro_section" class="btn btn-danger btn-only-icon target scroll-top">
    <i class="ion-md-arrow-up"></i></a>
<aside id="sidebar">
    <div class="sidebar-header">
        <a href="javascript:void(0);" id="close_sidebar">&times;</a>
    </div>
    <nav id="nav">
        <ul>
            <li class="nav-item nav-has-sub">
                <a href="javascript:void(0);">Home</a>
                <ul class="nav-sub-menu">
                    <li><a href="index.html">Home v1</a></li>
                    <li><a href="index2.html">Home v2</a></li>
                    <li><a href="index3.html">Home v3</a></li>
                </ul>
            </li>
            <li class="nav-item nav-has-sub">
                <a href="javascript:void(0);">Listings</a>
                <ul class="nav-sub-menu">
                    <li><a href="list-sidebar.html">List view (sidebar)</a></li>
                    <li><a href="list-full-width.html">List view (full width)</a></li>
                    <li><a href="list-map.html">List view (map)</a></li>
                    <li><a href="grid-sidebar.html">Grid view (sidebar)</a></li>
                    <li><a href="grid-full-width.html">Grid view (full width)</a></li>
                    <li><a href="grid-map.html">Grid view (map)</a></li>
                    <li><a href="list-details.html">List details</a></li>
                </ul>
            </li>
            <li class="nav-item nav-has-sub">
                <a href="javascript:void(0);">Admin Panel</a>
                <ul class="nav-sub-menu">
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="invoice.html">Invoice</a></li>
                    <li><a href="booking.html">Booking</a></li>
                    <li><a href="wallet.html">Wallet</a></li>
                    <li><a href="reviews.html">Reviews</a></li>
                    <li><a href="add-listing.html">Add listing</a></li>
                    <li><a href="my-listing.html">My listings</a></li>
                    <li><a href="notification.html">Notification</a></li>
                    <li><a href="profile.html">Profile</a></li>
                </ul>
            </li>
            <li class="nav-item nav-has-sub">
                <a href="javascript:void(0);">Pages</a>
                <ul class="nav-sub-menu">
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="coming-soon.html">Coming soon</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="faqs.html">FAQs</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
            </li>
            <li class="nav-item nav-has-sub">
                <a href="javascript:void(0);">Blog</a>
                <ul class="nav-sub-menu">
                    <li><a href="blog-list.html">Blog lists</a></li>
                    <li><a href="blog-details.html">Blog details</a></li>
                </ul>
            </li>
            <li class="nav-item nav-has-sub">
                <a href="javascript:void(0);">Other Pages</a>
                <ul class="nav-sub-menu">
                    <li><a href="guide.html">Style guide</a></li>
                    <li><a href="elements.html">Elements</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>

<!-- footer-->
<div class="footer">
    <div class="no-gutters">
        <div class="col-auto mx-auto">
            <div class="row no-gutters justify-content-center">
                <div class="col-auto">
                    <a href="index.html" class="btn btn-link-default active">
                        <i class="material-icons">h</i>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="statistics.html" class="btn btn-link-default">
                        <i class="material-icons">o</i>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="wallet.html" class="btn btn-link-default">
                        <i class="material-icons">a</i>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="transactions.html" class="btn btn-link-default">
                        <i class="material-icons">p</i>
                    </a>
                </div>
                <!-- <div class="col-auto">
                    <a href="profile.html" class="btn btn-link-default">
                        <i class="material-icons">account_circle</i>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- footer ends-->