<footer id="footer">
    <div class="container">
        <div class="row list-bunch">
            <div class="col-xl-4 col-lg-5 list-bunch-item">
                <a href="index.html" class="d-inline-block mb-3"><img src="assets/images/logos/favicon.png"
                        alt="" /></a>
                <p>
                    An eye of universe.
                    It is seen in all directions, as if the universe is "looking back" at us.
                </p>
                <div class="form-control-icon form-control-icon_right">
                    <input type="text" placeholder="Email please" class="form-control" />
                    <button type="button" class="form-control-icon_wrapper">
                        <span><i class="ion-md-arrow-forward"></i></span>
                    </button>
                </div>
            </div>
            <div class="col-1 d-xl-block d-none"></div>
            <div class="col-lg-2 col-sm-4 list-bunch-item">
                <h6 class="mb-3">Company</h6>
                <ul class="links">
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <li><a routerLink="/terms-use">Terms & Use</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-4 list-bunch-item">
                <h6 class="mb-3">Quick links</h6>
                <ul class="links">
                    <li><a routerLink="faq">FAQs</a></li>
                    <!-- <li><a href="#">Pricing</a></li>
                    <li><a href="#">Wallet</a></li>
                    <li><a href="#">Profile</a></li> -->
                </ul>
            </div>
            <div class="col-lg-3 col-sm-4 list-bunch-item">
                <h6 class="mb-1">Contact via email</h6>
                <a class="d-inline-block mb-3" href="mailto:query@eclyt.com">query@eclyt.com</a>
                <h6 class="mb-1">Support 24x7</h6>
                <a class="d-inline-block mb-3" href="tel:+917992215707">+91-7992215707</a>
                <ul class="social">
                    <li>
                        <a href="https://www.youtube.com/@eclyt" target="_blank"><i class="ion-logo-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/eclytofficial" target="_blank"><i class="ion-logo-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/eclyt/" target="_blank"><i class="ion-logo-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/eclytofficial/?igshid=ZDdkNTZiNTM%3D" target="_blank"><i class="ion-logo-instagram"></i></a>
                    </li>
                    <!-- <li>
                        <a href="#"><i class="ion-logo-vimeo"></i></a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="last-footer text-muted">
            &copy; 2023 Eclyt. All rights reserved.
        </div>
    </div>
</footer>
<a href="#intro_section" class="btn btn-danger btn-only-icon target scroll-top">
    <i class="ion-md-arrow-up"></i></a>


<!-- footer-->
<div class="footer">
    
    <div class="no-gutters">
        <div class="col-auto mx-auto">
            <div class="row no-gutters rows-center">
                <div class="col-auto">
                 
                    
                    <a routerLink="/home" routerLinkActive="active" class="btn btn-link-default">                     
                        <span class="icon"><i class="ion-md-home"></i></span>
                    </a>
                </div>
                <div class="col-auto">
                    <a routerLink="/analysis" routerLinkActive="active"  class="btn btn-link-default">
                        <span class="icon"><i class="ion-md-list-box"></i></span>
                        
                    </a>
                </div>
                <div class="col-auto">
                    <a routerLink="/survey"  routerLinkActive="active" class="btn btn-link-default">
                        <span class="icon"><i class="ion-md-planet"></i></span>
                        
                    </a>
                </div>
                <div class="col-auto">
                    <a routerLink="/observation" routerLinkActive="active" class="btn btn-link-default">
                        <span class="icon"><i class="ion-md-rocket"></i></span>                
                    </a>
                </div>
                <div class="col-auto">
                    <a routerLink="/profile" routerLinkActive="active"  class="btn btn-link-default">
                        <span class="icon"><i class="ion-md-person-add"></i></span>   
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer ends-->