#chartdiv {
    width: 100%;
    height: 400px;
}
#chartdiv1 {
    width: 100%;
    height: 400px;
}
#chartdiv2 {
    width: 100%;
    height: 400px;
}
#chartdiv3 {
    width: 100%;
    height: 400px;
}
#chartdivmap {
    width: 100%;
    height: 400px;
}
canvas #id-79-title {
    display: none;
}
canvas .AmChartsLogo{
    display: none;
}