<app-header></app-header>
<div id="wrapper">
    <br>
    <br>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5">
                            <h2 class="section-title">Contact us</h2>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-xl-7 col-lg-6">
                            <p>Analysis refers to the process of breaking down a complex system or concept into
                                smaller, more manageable parts in order to better understand it. It can be applied
                                to many different fields, including mathematics, science, finance, and engineering,
                                among others. In mathematics, for example, analysis is used to study the properties
                                of functions, including continuity, differentiability, and integrability. In
                                finance, analysis is used to evaluate investment opportunities and assess the
                                performance of investment portfolios. In engineering, analysis is used to study the
                                behavior of structures and systems under various conditions.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="col-xl-10 mx-auto">

                <div class="row ">
                    <h2 class="section-title"><span>Meet with us as verbly or truly</span></h2>
                    <div class="col-xl-6 col-lg-8 col-md-11">
                    </div>
                </div>
                <div class="row list-bunch">
                    <div class="col-lg-4 col-sm-6 list-bunch-item"><span class="icon"><i class="ion-md-mail"></i></span>
                        <h5 class="mt-2 mb-1">Contact through email</h5><a
                            href="mailto:query@eclyt.com">query@eclyt.com</a>
                    </div>
                    <div class="col-lg-4 col-sm-6 list-bunch-item"><span class="icon"><i class="ion-logo-whatsapp"></i></span>
                        <h5 class="mt-2 mb-1">Contact through Whats App</h5><a href="tel:+917992215707">+917992215707</a>
                    </div>
                    <div class="col-lg-4 col-sm-6 list-bunch-item"><span class="icon"><i class="ion-md-call"></i></span>
                        <h5 class="mt-2 mb-1">Contact through phone</h5><a class="d-inline-block mb-3"
                            href="tel:+917992215707">+917992215707</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="row flex-row-reverse">
                        <div class="col-lg-12">
                            <h2 class="section-title"><span>Send your query by filling this form</span></h2>
                            <form action="#" class="form-row">
                                <div class="col-6 form-group"><input type="text" placeholder="Name"
                                        class="form-control"></div>
                                <div class="col-6 form-group"><input type="text" placeholder="Phone"
                                        class="form-control"></div>
                                <div class="col-12 form-group"><input type="text" placeholder="Email"
                                        class="form-control"></div>
                                <div class="col-12 form-group"><input type="text" placeholder="Subject"
                                        class="form-control"></div>
                                <div class="col-12 form-group"><textarea name="msg" id="msg" cols="30" rows="7"
                                        class="form-control" placeholder="Message"></textarea></div>
                                <div class="col-12"><button type="button" class="btn btn-block btn-danger">Send
                                        Message</button></div>
                            </form>
                        </div>
                        <!-- <div class="col-lg-1"></div> -->
                        <!-- <div class="col-lg-5">
                            <div id="map"></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
 
</div>
<app-footer></app-footer>