

<app-header></app-header>
<div id="intro_section" class="section under-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <h5 class="font-weight-bold">Basic Information</h5>
                
                <p>Privacy is Eclyt code: Twilio has built our global privacy program based on our Binding Corporate Rules (BCRs), which serve as our code of conduct that governs our global processing of personal data. No matter where you are in the world, where you reside, where your citizenship lies, or where your data comes from, we offer the same high standards of privacy protection to all our customers. More specifically, “No Shenanigans” is one of our company values, and we intend to exemplify that with our Privacy Notice, which we hope will provide clear, detailed, and easy-to-read information about Twilio's privacy practices and how we process personal information.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>