<app-header></app-header>
<div id="wrapper">
<section id="intro_section">
    <div class="row no-gutters">
        <div class="col-lg-6">
            <div class="inner-banner-content banner-content-white">
                <div class="container container-half">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="intro-section-title">About us</h1>
                            <p>Analysis refers to the process of breaking down a complex system or concept into smaller, more manageable parts in order to better understand it. It can be applied to many different fields, including mathematics, science, finance, and engineering, among others. In mathematics, for example, analysis is used to study the properties of functions, including continuity, differentiability, and integrability. In finance, analysis is used to evaluate investment opportunities and assess the performance of investment portfolios. In engineering, analysis is used to study the behavior of structures and systems under various conditions.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 banner inner-banner overlay-banner-ipad hero-about"></div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <h2 class="section-title">About our company</h2>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-xl-7 col-lg-6">
                        <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                            scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe
                            solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe
                            al desirabilite de un nov lingua franca: On refusa continuar payar custosi
                            traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu
                            sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es
                            plu simplic e regulari quam ti del coalescent lingues.</p>
                    </div>
                </div>
                <div class="row mt-5 pt-5 list-bunch" id="counter">
                    <div class="col-md-3 col-6 list-bunch-item text-center"><span
                            class="display-4 d-block"><span class="count" data-count="500">50</span>k</span>
                        <span class="font-weight-bold">Register user</span></div>
                    <div class="col-md-3 col-6 list-bunch-item text-center"><span
                            class="display-4 d-block"><span class="count" data-count="10">0</span>m</span> <span
                            class="font-weight-bold">Lists</span></div>
                    <div class="col-md-3 col-6 list-bunch-item text-center"><span
                            class="display-4 d-block"><span class="count" data-count="100">10</span>k</span>
                        <span class="font-weight-bold">Reviews</span></div>
                    <div class="col-md-3 col-6 list-bunch-item text-center"><span
                            class="display-4 d-block"><span class="count" data-count="10">0</span>k</span> <span
                            class="font-weight-bold">Daily visits</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="promo">
        <div class="banner banner-scroll banner-overlay" data-parallax="scroll"
            data-image-src="assets/images/backgrounds/promo.jpg"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 text-center mx-auto">
                    <h2 class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                        cupiditate dolor ducimus ea earum esse ipsum iste iusto maiores.</h2>
                    <div class="d-inline-block"><a href="javascript:void(0);"
                            class="btn btn-pill btn-danger btn-icon"><i class="ion-md-play"></i> <span>Play
                                video</span></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-11">
                <h2 class="section-title"><span>How Eclyt Works</span></h2>
            </div>
        </div>
        <div class="row list-bunch">
            <div class="col-lg-4 list-bunch-item"><span class="icon"><i class="ion-md-code"></i></span>
                <h4 class="mt-3 mb-2">Data for all your people</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa cum sociis natoque.</p>
            </div>
            <div class="col-lg-4 list-bunch-item"><span class="icon"><i class="ion-md-browsers"></i></span>
                <h4 class="mt-3 mb-2">A new breed of AI</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium totam rem aperiam, eaque ipsa quae ab illo.</p>
            </div>
            <div class="col-lg-4 list-bunch-item"><span class="icon"><i
                        class="ion-md-phone-portrait"></i></span>
                <h4 class="mt-3 mb-2">Analytics Business</h4>
                <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
                    scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-11">
                <h2 class="section-title"><span>Our team behind this awesome platform</span></h2>
            </div>
        </div>
        <div class="row list-bunch">
            <div class="col-lg-3 col-sm-6 list-bunch-item"><img src="assets/images/team/manager.jpg"
                    class="retina" alt="">
                <h4 class="mb-1 mt-3">Petey Cruiser</h4>
                <p>Manager</p>
            </div>
            <div class="col-lg-3 col-sm-6 list-bunch-item"><img src="assets/images/team/co-manager.jpg"
                    class="retina" alt="">
                <h4 class="mb-1 mt-3">Anna Mull</h4>
                <p>Co-Manager</p>
            </div>
            <div class="col-lg-3 col-sm-6 list-bunch-item"><img src="assets/images/team/photographer.jpg"
                    class="retina" alt="">
                <h4 class="mb-1 mt-3">Paul Molive</h4>
                <p>Photographer</p>
            </div>
            <div class="col-lg-3 col-sm-6 list-bunch-item"><img src="assets/images/team/consultant.jpg"
                    class="retina" alt="">
                <h4 class="mb-1 mt-3">Paige Turner</h4>
                <p>Consultant</p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="app-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h2>Our app available on</h2>
                    <p>We are on mobile now get this app and enjoy amazing user experience. Download the app and
                        go to travel new places in the world.</p>
                    <div class="btn-inline"><button type="button" class="btn btn-dark btn-icon"><i
                                class="ion-logo-apple"></i> <span>Add Store</span></button> <button
                            type="button" class="btn btn-dark btn-icon"><i class="ion-logo-android"></i>
                            <span>Google Play</span></button></div>
                </div>
                <div class="col-lg-7"><img src="assets/images/backgrounds/app-hero.png"
                        class="app-hero mt-5 mt-lg-0" alt=""></div>
            </div>
        </div>
    </div>
</section>
</div>
<app-footer></app-footer>
