<app-header></app-header>
<div id="intro_section" class="section under-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <h5 class="font-weight-bold">“Beta Offerings” </h5>
                <p>means Services that are identified as alpha, beta, not generally available, limited release,
                    developer preview, or any similar Services offered by Eclyt.



                </p>
                <h5 class="font-weight-bold">“Customer Application” </h5>
                <p> means any software application or service that you make available to your End Users (as defined
                    below) that interfaces with the Services.</p>
                <h5 class="font-weight-bold"> “Customer Data” </h5>
                <p> means data and other information made available by or for you, to Eclyt, through the use of the
                    Services under this Agreement</p>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>