<app-header></app-header>
<div id="intro_section" class="section under-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <h5 class="font-weight-bold">Basic Information</h5>
                <div class="row">
                    <div class="col-12 form-group">
                        <label for="title" class="form-control-label">Title</label>
                        <input type="text" id="title" class="form-control"
                            placeholder="Ex: Perfection restaurant" />
                        <small class="form-text text-muted">Name of your business</small>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="category" class="form-control-label">Category</label>
                        <select name="category" id="category" class="custom-select">
                            <option value="0" disabled="disabled" selected="selected" hidden>
                                Category
                            </option>
                            <option value="1">Foods</option>
                            <option value="2">Events</option>
                            <option value="3">Fitness</option>
                            <option value="4">Medical</option>
                            <option value="5">Hotel</option>
                            <option value="6">Night life</option>
                            <option value="7">Shopping</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="keywords" class="form-control-label">Keywords</label>
                        <input type="text" id="keywords" class="form-control"
                            placeholder="Separated by commas" />
                        <small class="form-text text-muted">Maximum 15 keywords accepted</small>
                    </div>
                </div>
                <h5 class="font-weight-bold mt-5">Location / Contacts</h5>
                <div class="row">
                    <div class="col-12 form-group location">
                        <div id="map" data-map-draggable="true"></div>
                        <div class="d-flex align-items-center font-md mt-3">
                            <div class="mr-4">
                                <span class="font-weight-bold">Longitude: </span><span id="lng"
                                    class="text-danger"></span>
                            </div>
                            <div class="mr-4">
                                <span class="font-weight-bold">Latitude: </span><span id="lat"
                                    class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="country" class="form-control-label">Country</label>
                        <select name="country" id="country" class="custom-select">
                            <option value="0">UK</option>
                            <option value="1">USA</option>
                            <option value="2">Australia</option>
                            <option value="3">Japan</option>
                            <option value="4">Italy</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="city" class="form-control-label">City</label>
                        <select name="category" id="city" class="custom-select">
                            <option value="0">London</option>
                            <option value="1">Paris</option>
                            <option value="2">Sydney</option>
                            <option value="3">Tokyo</option>
                            <option value="4">New York</option>
                        </select>
                    </div>
                    <div class="col-12 form-group">
                        <label for="address" class="form-control-label">Address</label>
                        <textarea name="address" id="address" cols="30" rows="3"
                            class="form-control"></textarea>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="email" class="form-control-label">Email
                            <span class="font-weight-normal text-muted">(optional)</span></label>
                        <input type="text" id="email" class="form-control" placeholder="example@xyz.com" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="phone" class="form-control-label">Phone
                            <span class="font-weight-normal text-muted">(optional)</span></label>
                        <input type="text" id="phone" class="form-control" placeholder="123 456 7890" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="website" class="form-control-label">Website
                            <span class="font-weight-normal text-muted">(optional)</span></label>
                        <input type="text" id="website" class="form-control" placeholder="www.example.com" />
                    </div>
                </div>
                <h5 class="font-weight-bold mt-5">Gallery</h5>
                <div class="row">
                    <div class="col-12 form-group">
                        <label class="form-control-label">Gallery</label>
                        <form class="dropzone" action="#">
                            <div class="dz-message">
                                <div>
                                    <i class="ion-ios-cloud-upload"></i>
                                    <p>
                                        Drop a file or
                                        <a href="#" class="text-danger">Browse</a> here
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <h5 class="font-weight-bold mt-5">Details</h5>
                <div class="row">
                    <div class="col-12 form-group">
                        <label for="desc" class="form-control-label">Description</label>
                        <textarea name="desc" id="desc" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="form-control-icon form-control-icon_left">
                            <input id="facebook" type="text" name="facebook"
                                placeholder="https://www.facebook.com" class="form-control" />
                            <span class="form-control-icon_wrapper"><span><i
                                        class="ion-logo-facebook"></i></span></span>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="form-control-icon form-control-icon_left">
                            <input id="twitter" type="text" name="twitter" placeholder="https://www.twitter.com"
                                class="form-control" />
                            <span class="form-control-icon_wrapper"><span><i
                                        class="ion-logo-twitter"></i></span></span>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="form-control-icon form-control-icon_left">
                            <input id="pinterest" type="text" name="pinterest"
                                placeholder="https://www.pinterest.com" class="form-control" />
                            <span class="form-control-icon_wrapper"><span><i
                                        class="ion-logo-pinterest"></i></span></span>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <label class="form-control-label">Amenities
                            <span class="font-weight-normal text-muted">(optional)</span></label>
                        <div>
                            <div class="custom-control-inline checkbox">
                                <input id="c1" type="checkbox" />
                                <label for="c1">Free Wi Fi</label>
                            </div>
                            <div class="custom-control-inline checkbox">
                                <input id="c2" type="checkbox" />
                                <label for="c2">Free parking space</label>
                            </div>
                            <div class="custom-control-inline checkbox">
                                <input id="c3" type="checkbox" />
                                <label for="c3">Instant book</label>
                            </div>
                            <div class="custom-control-inline checkbox">
                                <input id="c4" type="checkbox" />
                                <label for="c4">Quick service</label>
                            </div>
                            <div class="custom-control-inline checkbox">
                                <input id="c5" type="checkbox" />
                                <label for="c5">Comfortable seating space</label>
                            </div>
                            <div class="custom-control-inline checkbox">
                                <input id="c6" type="checkbox" />
                                <label for="c6">Air conditioner</label>
                            </div>
                            <div class="custom-control-inline checkbox">
                                <input id="c7" type="checkbox" />
                                <label for="c7">Online ordering</label>
                            </div>
                            <div class="custom-control-inline checkbox">
                                <input id="c8" type="checkbox" />
                                <label for="c8">Free delivery</label>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="font-weight-bold mt-5">Working Hours</h5>
                <div class="row">
                    <div class="col-md-4 col-sm-6 form-group">
                        <label class="form-control-label">Monday</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="9:00 AM" />
                            </div>
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="6:00 PM" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 form-group">
                        <label class="form-control-label">Tuesday</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="9:00 AM" />
                            </div>
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="6:00 PM" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 form-group">
                        <label class="form-control-label">Wednesday</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="9:00 AM" />
                            </div>
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="6:00 PM" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 form-group">
                        <label class="form-control-label">Thursday</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="9:00 AM" />
                            </div>
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="6:00 PM" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 form-group">
                        <label class="form-control-label">Friday</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="9:00 AM" />
                            </div>
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="6:00 PM" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 form-group">
                        <label class="form-control-label">Saturday</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="9:00 AM" />
                            </div>
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="6:00 PM" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 form-group">
                        <label class="form-control-label">Sunday</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="9:00 AM" />
                            </div>
                            <div class="col">
                                <input type="text" class="form-control time-picker" placeholder="6:00 PM" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-5 pb-2 mb-4">
                    <h5 class="font-weight-bold mb-0">Pricing</h5>
                    <div class="switch d-inline-flex pl-4">
                        <input type="checkbox" id="price" />
                        <label for="price" class="switch__slider"></label>
                    </div>
                </div>
                <form class="repeater">
                    <div data-repeater-list="price" id="price_form_list">
                        <div data-repeater-item class="form-row align-items-center repeater__list">
                            <div class="col-xl-2 col-md-3 form-group d-flex align-items-center">
                                <a href="javascript:void(0);" class="repeater__list__drag icon-sm mr-3"><i
                                        class="ion-ios-move"></i></a>
                                <div class="flex-grow-1">
                                    <input type="file" id="img_1" class="d-none" />
                                    <label for="img_1" class="btn btn-danger btn-block mb-0">Add image</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-9 form-group">
                                <input type="text" class="form-control" placeholder="Title" />
                            </div>
                            <div class="col-xl-5 col-lg-10 col-md-9 form-group">
                                <input type="text" class="form-control" placeholder="Description" />
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-3 form-group d-flex align-items-center">
                                <input type="text" class="form-control" placeholder="Price" />
                                <a href="javascript:void(0);" class="repeater__list__close icon-sm ml-3"
                                    data-repeater-delete><i class="ion-md-close"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <input data-repeater-create type="button" value="Add" class="btn btn-danger btn-pill" />
                    </div>
                </form>
                <h5 class="font-weight-bold mt-5">Other</h5>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="what"
                                    class="form-control-label input-group-text bg-transparent mb-0 pr-0">Promo
                                    video</label>
                            </div>
                            <input type="text" id="what" class="form-control border-left-0"
                                placeholder="https://www.youtube.com/" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div
                            class="d-flex align-items-center justify-content-between bg-light rounded py-1 px-3">
                            <label for="what" class="form-control-label mb-0">Booking form</label>
                            <div class="switch d-inline-flex pl-3">
                                <input type="checkbox" id="booking" />
                                <label for="booking" class="switch__slider"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div
                            class="d-flex align-items-center justify-content-between bg-light rounded py-1 px-3">
                            <label for="what" class="form-control-label mb-0">Instagram</label>
                            <div class="switch d-inline-flex pl-3">
                                <input type="checkbox" id="instagram" />
                                <label for="instagram" class="switch__slider"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
